<h1>
  {{title}} <button class="btn btn-default" (click)="addRow()">Add row</button>
</h1>
<h2>{{gridData.length}}</h2>

<!--<div class="col-xs-12">-->
  <!--<ng-table class="table-responsive" -->
            <!--[config]="config"-->
            <!--[rows]="gridData"-->
            <!--[columns]="gridColumns">-->
  <!--</ng-table>-->
<!--</div>-->

<div class="row">
  <table class="table table-striped table-bordered users">
    <thead>
      <tr>
        <th *ngFor="let columnHeader of gridColumns" ngbPopover="{{columnHeader.title}}" triggers="mouseenter:mouseleave" container="body">
          {{ columnHeader.title }}
        </th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let columnData of gridData">
        <td *ngFor="let columnHeader of gridColumns" ngbPopover="{{columnHeader.tooltip}}" triggers="mouseenter:mouseleave" container="body">
          {{ columnData[columnHeader.field] }} {{columnHeader.aggregate}}
        </td>
      </tr>
    </tbody>

    <tfoot>
      <tr>
        <td *ngFor="let columnHeader of gridColumns" ngbPopover="{{gridFooter[columnHeader.field]}}" triggers="mouseenter:mouseleave" container="body">
          {{ gridFooter[columnHeader.field] | number:'3.2-2' }}
        </td>
      </tr>
    </tfoot>
  </table>
</div>
